In [14]:
import configparser
import datetime
import urllib.request
import json
import pandas as pd

In [9]:
config = configparser.ConfigParser()
config.read('finmind.cfg')

ds = datetime.date(2021, 9, 22)

url = "https://api.finmindtrade.com/api/v4/data"

params = {
    'dataset': 'TaiwanStockPriceTick',
    'data_id': '006204',
    'start_date': ds.strftime('%Y-%m-%d'),
    'token': config['finmind']['API_TOKEN'],
}

In [10]:
def get_paramed_url(url:str, params:dict[str, str]) -> str:
    return url + '?{}'.format('&'.join([f'{k}={v}' for k, v in params.items()]))

get_paramed_url(url, params)

'https://api.finmindtrade.com/api/v4/data?dataset=TaiwanStockPriceTick&data_id=006204&start_date=2021-09-22&token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0wMy0wMiAxMzoxOToyMSIsInVzZXJfaWQiOiJxazY4MTciLCJpcCI6IjIwMy43Ny40MS4yMjIifQ.DIcy3u2CAOIDRbtsE47JqWqHNa_59R5luKuSXTHbRZU'

In [11]:
res = urllib.request.urlopen(get_paramed_url(url, params))
content = res.read()

content

b'{"msg":"success","status":200,"data":[{"date":"2021-09-22","stock_id":"006204","deal_price":90.1,"volume":1,"Time":"09:00:11.161","TickType":1},{"date":"2021-09-22","stock_id":"006204","deal_price":90.0,"volume":10,"Time":"13:20:24.969","TickType":1},{"date":"2021-09-22","stock_id":"006204","deal_price":90.0,"volume":10,"Time":"13:20:26.038","TickType":1}]}'

In [22]:
json_obj = json.loads(content.decode('utf8'))
data = json_obj['data']

data

[{'date': '2021-09-22',
  'stock_id': '006204',
  'deal_price': 90.1,
  'volume': 1,
  'Time': '09:00:11.161',
  'TickType': 1},
 {'date': '2021-09-22',
  'stock_id': '006204',
  'deal_price': 90.0,
  'volume': 10,
  'Time': '13:20:24.969',
  'TickType': 1},
 {'date': '2021-09-22',
  'stock_id': '006204',
  'deal_price': 90.0,
  'volume': 10,
  'Time': '13:20:26.038',
  'TickType': 1}]

In [36]:
df = pd.DataFrame(data)
df

         date stock_id  deal_price  volume          Time  TickType
0  2021-09-22   006204        90.1       1  09:00:11.161         1
1  2021-09-22   006204        90.0      10  13:20:24.969         1
2  2021-09-22   006204        90.0      10  13:20:26.038         1

'0    2021-09-22\n1    2021-09-22\n2    2021-09-22\nName: date, dtype: object 0    09:00:11.161\n1    13:20:24.969\n2    13:20:26.038\nName: Time, dtype: object'

In [48]:
df['datetime'] = pd.to_datetime(df.date.str.strip() + df.Time.str.strip(), format='%Y-%m-%d%H:%M:%S.%f').dt.tz_localize('Asia/Taipei')
df['datetime'] = df['datetime'].dt.floor('s')

df = df[['datetime', 'stock_id', 'deal_price', 'volume']].rename(columns={'deal_price': 'price'})
df

                   datetime stock_id  price  volume
0 2021-09-22 09:00:11+08:00   006204   90.1       1
1 2021-09-22 13:20:24+08:00   006204   90.0      10
2 2021-09-22 13:20:26+08:00   006204   90.0      10