In [2]:
import pandas as pd
import datetime
import urllib.request

In [3]:
url_template = 'https://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date={}'
date = datetime.date(2021, 12, 15)

url = url_template.format(date.strftime('%Y%m%d'))
url

'https://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date=20211215'

In [4]:
res = urllib.request.urlopen(url)

In [5]:
res.status

200

In [6]:
res.getheader(name="Content-Type")

'text/csv;charset=ms950'

In [7]:
content = res.read()

In [37]:
arr_2d = [x.split('\",\"') for x in content.decode('big5').split('\r\n')[2:]]

df = pd.DataFrame(arr_2d)
df = df[[0,1]]
df.columns = ['time', 'index']
df = df.dropna()

df['time'] = df.time.str.extract(r'.*(\d{2}:\d{2}:\d{2}).*')

ds = date.strftime('%Y-%m-%d ')
df['datetime'] = pd.to_datetime(ds + df['time'])

df

          time      index            datetime
0     09:00:00  17,599.37 2021-12-15 09:00:00
1     09:00:05  17,592.87 2021-12-15 09:00:05
2     09:00:10  17,585.06 2021-12-15 09:00:10
3     09:00:15  17,595.84 2021-12-15 09:00:15
4     09:00:20  17,583.76 2021-12-15 09:00:20
...        ...        ...                 ...
3236  13:29:40  17,631.21 2021-12-15 13:29:40
3237  13:29:45  17,631.21 2021-12-15 13:29:45
3238  13:29:50  17,631.21 2021-12-15 13:29:50
3239  13:29:55  17,631.21 2021-12-15 13:29:55
3240  13:30:00  17,660.10 2021-12-15 13:30:00

[3241 rows x 3 columns]