In [1]:
import pandas as pd
import datetime
import urllib.request

In [2]:
url_template = 'https://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date={}'
date = datetime.date(2021, 12, 15)

url = url_template.format(date.strftime('%Y%m%d'))
url

'https://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date=20211215'

In [3]:
res = urllib.request.urlopen(url)

In [4]:
res

In [5]:
res.status

200

In [6]:
res.getheader(name="Content-Type")

'text/csv;charset=ms950'

In [7]:
content = res.read()

In [9]:
arr_2d = [x.split('\",\"') for x in content.decode('big5').split('\r\n')[2:]]

df = pd.DataFrame(arr_2d)
df = df[[0,1]]
df.columns = ['time', 'index']
df = df.dropna()

df['time'] = df.time.str.extract(r'.*(\d{2}:\d{2}:\d{2}).*')

ds = date.strftime('%Y-%m-%d ')
df['datetime'] = pd.to_datetime(ds + df['time'])

df[['datetime', 'index']]

                datetime      index
0    2021-12-15 09:00:00  17,599.37
1    2021-12-15 09:00:05  17,592.87
2    2021-12-15 09:00:10  17,585.06
3    2021-12-15 09:00:15  17,595.84
4    2021-12-15 09:00:20  17,583.76
...                  ...        ...
3236 2021-12-15 13:29:40  17,631.21
3237 2021-12-15 13:29:45  17,631.21
3238 2021-12-15 13:29:50  17,631.21
3239 2021-12-15 13:29:55  17,631.21
3240 2021-12-15 13:30:00  17,660.10

[3241 rows x 2 columns]